<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".NdikaNimeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NdikaNime"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.anime.AnimeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.anime.WatchActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".ui.anime.AnimeListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.manga.MangaDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.manga.MangaReaderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.community.W2GRoomActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.community.GachaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.community.ClanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.community.MoodPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.community.DMChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
